name: mobile
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.6.0
  go_router: ^14.2.0
  flutter_dotenv: ^5.1.0

  geolocator: ^10.1.0
  shared_preferences: ^2.2.2
  uuid: ^4.2.1
  timeago: ^3.7.0
  image_picker: ^1.0.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
